
<h1>Images</h1>

<%= image_tag "example4.jpeg", class: "img img-circular" %>
<div class="img-mask img-mask" style="width:200px">
  <a href="" class="img-mask-content">Hola</a>
  <%= image_tag "example2.jpeg", class: "img" %>
</div>
<div class="img-mask img-mask-animation" style="width:300px">
  <a href="" class="img-mask-content">Hola</a>
  <%= image_tag "example2.jpeg", class: "img" %>
</div>
<div class="img-mask img-mask-important" style="width:200px">
  <a href="" class="img-mask-content">Hola <br> Hola</a>
  <%= image_tag "example2.jpeg", class: "img" %>
</div>
<div class="img-mask img-mask-inverse" style="width:200px">
  <a href="" class="img-mask-content">Hola</a>
  <%= image_tag "example2.jpeg", class: "img" %>
</div>
<div class="img-mask img-mask-important img-circular" style="width:200px">
  <a href="" class="img-mask-content">Hola</a>
  <%= image_tag "example1.jpeg", class: "img  img-circular" %>
</div>
<%= image_tag "example4.jpeg", class: "img img-selected" %>
<%= image_tag "example4.jpeg", class: "img img-frame" %>
